.parallaxMaster {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 1fr minmax(375px, 1200px) 1fr;

  @media (max-width: 600px) {
    padding: 5rem 0;
    background-attachment: initial;
  }
}

.parallax {
  display: flex;
  grid-column: 2 / 3;
  align-items: center;
  margin: 0 1rem;
  &__text {
    width: 100%;
  }
  &__title {
    color: #ffffff;
    font-size: 3.5rem;
    line-height: 80px;
    letter-spacing: 0.03em;
    font-weight: 300;
    margin: 0;
  }
  &__contact {
    display: flex;
    align-items: center;
  }
  &__phone {
    color: var(--primary);
    font-size: 35px;
    line-height: 45px;
    font-weight: 500;
    padding-right: 2.5rem;
    border-right: 1px solid var(--primary);
    margin-right: 2.5rem;
  }

  &__img {
    align-self: flex-start;
    object-fit: contain;
    padding-top: 3rem;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    &__title{
      font-size: 2.5rem;
      line-height: normal;
      text-align: center;
    }
    &__contact{
      flex-direction: column;
    }
    &__phone {
      border-right: none;
      text-align: center;
      padding: 0;
      margin: 1rem 0;
    }
    &__img{
      display: none;
    }
  }
}
